*{
    margin: 0;
    padding: 0;
}

main{
    background-color: gainsboro;
}


header{
    background-color: rgb(255, 255, 255);
}

header .header-contents{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 85%;
    margin-inline: auto;
}

:root {
    --anime: #03A9F4;
    --goods: #4CAF50;
    --apps: #9300f5;
    --event: #795548;
    --movie: #f1a100;
}

header nav {
    margin: 0px auto;
    max-width: 900px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

header nav ul {
    margin: auto;
    display: flex;
    max-width: 900px;
    width: 100%;
    min-height: 60px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
    text-align: center;
}

header nav ul li {
    margin: 0 auto;
    display: flex;
    max-width: 130px;
    width: 100%;
    height: 100%;
    font-size: 0.8rem;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    font-weight: 700;
    z-index: 3;
}
header nav ul li a{
    text-decoration: none;
}

#anime{
    color: var(--anime);
}

#anime::after{
    content: "";
    background-color: #03A9F4;
    position: absolute;
    bottom: 5px;
    left: 19px;
    border-radius: 10px;
    width: 140px;
    height: 5px;
}


#movies{
    color: var(--movie);
}

#movies::after{
    content: "";
    background-color:var(--movie);
    position: absolute;
    bottom: 5px;
    left: 200px;
    border-radius: 10px;
    width: 140px;
    height: 5px;
}

#goods{
    color: var(--goods);
}


#goods::after{
    content: "";
    background-color:var(--goods);
    position: absolute;
    bottom: 5px;
    left: 390px;
    border-radius: 10px;
    width: 140px;
    height: 5px;
}

#apps{
    color: var(--apps);
}


#apps::after{
    content: "";
    background-color:var(--apps);
    position: absolute;
    bottom: 5px;
    left: 570px;
    border-radius: 10px;
    width: 140px;
    height: 5px;
}

#events{
    color: var(--event);
}

#events::after{
    content: "";
    background-color:var(--event);
    position: absolute;
    bottom: 5px;
    left: 740px;
    border-radius: 10px;
    width: 140px;
    height: 5px;
}


header nav ul li::after {
    content: "";
    position: absolute;
    bottom: 1px;
    z-index: 2;
    height: 5px;
    max-width: 170px;
    width: 100%;
    transition: all 0.3s;
    animation: wave 1s linear infinite alternate-reverse;
}

#anime:hover::after {
    height: 100%;
    z-index: 1;
    background-color:var(--anime) ;

}

#movies:hover::after {
    height: 100%;
    z-index: 1;
    background-color:var(--movie) ;

}



#goods:hover::after {
    height: 100%;
    z-index: 1;
    background-color:var(--goods) ;
}
#apps:hover::after {
    height: 100%;
    z-index: 1;
    background-color:var(--apps) ;

}
#events:hover::after {
    height: 100%;
    z-index: 1;
    background-color:var(--event) ;
     

}
    


.pokedex-wrap {
    display: flex;
    padding: 15px;
    gap: 10px;
}

.pokedex-wrap :first-child{
   height: 30px;
}
.erow{
    height: 20px;
    padding: 1px;
}



main{
    max-width: 100vw;
    width: 100%;
    text-align: center;
}
.comercial_banner {
    background-image: url(website_material/list-img-anime.avif);
    min-height:150vh;
    max-width: 100vw;
    background-repeat: no-repeat;  
    background-size: 100% auto ;
    display: flex;
    width: 100%;
    height: 100%;

}

.banner{
    margin-top: 50px;
}





.kindtube{
    height: 150px;
    width: 600px;
    border-radius: 10px;
    position: relative;
    left: 50px;
}

.quiz{
    position: relative;
    right: 50px;
    height: 150px;
    width: 600px;
    border-radius: 10px;
}



.content img{
    height: 100px;
    width: 500px;
    margin: 20px;
}

span{
    display: flex;
    background-color: #03A9F4;
}

.span2{
    display: flex;
    background-color:var(--apps);

}

.span3{
    display: flex;
    background-color:var(--event);

}

span img {
    height: 25px;
    padding: 2px;
}
 li{
    background-color: white;
    width: 300px;
    height: 60vh;
    list-style: none;
    border-radius: 10px;
}

h4{
    font-family: sans-serif;
    padding: 5px;
    color:white;
}
.list_img{
    width: 300px;
}

hr{
    background-color: #03A9F4;
    height: 5px;
    position: relative;
    bottom: 10px;
}

.hr1{
    background-color:var(--apps);
    height: 5px;
    position: relative;
    bottom: 10px;

}

.hr2{
    background-color:var(--event);
    height: 5px;
    position: relative;
    bottom: 10px;
}

p{
    max-width: 280px;
    width: 90%;
    height: 80px;
    text-align: start;
    margin: 15px;
    font-family: sans-serif;
}
.date{
    color: #03A9F4;
    font-family: sans-serif;
    text-align: end;
    font-weight: bolder;
    margin: 10px;
}



ul{
    margin-top: 30px;
    max-width: 100vw;
    width: 80%;
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.date1{
    color: var(--apps);
    font-family: sans-serif;
    text-align: end;
    font-weight: bolder;
    margin: 10px;
}


.date2{
    color: var(--event);
    font-family: sans-serif;
    text-align: end;
    font-weight: bolder;
    margin: 20px;
}

.date6{
    color: var(--event);
    font-family: sans-serif;
    text-align: end;
    font-weight: bolder;
    margin: 20px;
}




.date3{
    color: #795548;
    font-family: sans-serif;
    text-align: end;
    font-weight: bolder;
    margin: 10px;
}


.more{
    border: black 1px;
    width: 30vh;
    margin-top: 30px;
    padding: 15px;
    border-radius: 50px;
    margin-inline: auto;
    font-family: sans-serif;
    font-weight: 700;
    background-color: black;
    color: white;
}

.more:hover{
    border: 1px solid black;
    background-color: white;
    color: black;
    transition:background-color 0.3s ease;
}

.account{
    background-color: white;
    margin-top: 30px;
    /* display: flex; */
}
.account_content{
    display: flex;
    margin-inline: auto;
    width:30%;
}

.account_content1{
    display: flex;
    margin: auto;
    width: 30%;
}
.account img{
    height: 60px;
    padding: 10px;
}

.account_head{
    color: black;
    font-family: sans-serif;
    display: inline-block;
    margin-top: 6%;
}
footer{
    background-color: black;
    height: 120px;
}
.policy{
    height: 0px;
    color: white;
    width: 16vw;
    font-family: sans-serif;
    font-size: 1vw;
    list-style: none;
    cursor: pointer;
}

.policy:hover{
    color: #534c49;
}
.policy_list{
    display: flex;
    
}
.footer_ul{
    height: 0px;
    display: flex;
    width: 55vw;
    margin-left: 20px;
}

.india{
    color: white;
    padding: 10px;
    font-size: 20px;
    background: #05405b;
    border-radius: 180px;
    margin-top: 20px;
    height: 20px;
    width: 105px;
    margin-right: 5vw;
    font-family: sans-serif;
}
.india:hover{
    cursor: pointer;
    background-color: #38687e;
    transition:background-color 0.3s all ease;
    font-family: sans-serif;
}

.comment{
    color: #795548;
    font-family: sans-serif;
    text-align: start;
    margin: 10px;
}

/* start media query */


@media screen and (max-width:700px) {

    .header-contents{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .pokedex-wrap{
        margin-inline: auto;
    }
    p{
        font-size:5 px;
    }
}

@media screen and (max-width:700px){
    .comercial_banner{
        min-height: 330px;
    }


        .banner .quiz{
            width: 350px;
            margin-left: 72px;
        }
    
         .banner .kindtube{
            width: 350px;
            position: relative;
            left: 0px;
            top: 20px;
        }
    
}
@media screen and (max-width:700px) {
    .india{
        color: white;
        padding: 5px;
        font-size: 15px;
        background: #05405b;
        border-radius: 180px;
        margin-top: 20px;
        height: 20px;
        width: 90px;
        margin-right: 5vw;
        font-family: sans-serif;
    
    }
}
@media screen and (max-width:700px) {
    footer{
        height: 200px;
    }
}

@media screen and (max-width:700px) {
    .account_head{
        margin-top: 20px;
    }
}
@media screen and (max-width:700px) {


    .date2{
        margin-top: 50px;
    }

    li .date3{
        margin-top: 50px;
    }

    
    li .date6{
        margin-top: 90px;
    }
}
@media screen and (max-width:700px) {
    .date1{
        margin-top: 50px;
    }
    
}
@media screen and (max-width:700px) {
    ul{
        grid-template-columns: repeat(2, 1fr);

    }

    .under_list{
        height: 350px;
    }

    .date1{
        margin-top: 90px;
    }
}
@media screen and (max-width:700px) {
    .date{
        margin-top: 110px;
    }

}
@media screen and (max-width:700px) {
    .list_img{
        width: 150px;
    }
}
@media screen and (max-width:700px) {
    li{
        width: 150px;
        height: 46vh;
    }
}
@media screen and (max-width:700px) {
    span img{
        height: 35px;
        padding: 5px;
    }

    #anime::after{
    content: "";
    background-color: #03A9F4;
    position: absolute;
    bottom: 5px;
    left: 19px;
    border-radius: 10px;
    width: 40px;
    height: 5px;
    display:none;
    }


    #movies::after{
    content: "";
    background-color:var(--movie);
    position: absolute;
    bottom: 5px;
    left: 200px;
    border-radius: 10px;
    width: 40px;
    display:none;
    height: 5px;
    }
#goods::after{
    content: "";
    background-color:var(--goods);
    position: absolute;
    bottom: 5px;
    left: 390px;
    border-radius: 10px;
    width: 40px;
    height: 5px;
    display:none;
}
    #apps::after{
    content: "";
    background-color:var(--apps);
    position: absolute;
    bottom: 5px;
    left: 570px;
    border-radius: 10px;
    width: 40px;
    height: 5px;
    display:none;
    }


    #events::after{
    content: "";
    background-color:var(--event);
    position: absolute;
    bottom: 5px;
    left: 740px;
    border-radius: 10px;
    width: 40px;
    height: 5px;
    display:none;
}

}
